.btn,
button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0.25rem 0;
    padding: 0.35rem 1rem;
    border: 2px solid var(--color-text);
    border-radius: 4px;
    background-color: var(--color-bg);
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-text);
    text-decoration: none;
    transition: background-color 0.2s;
}

@media only screen and (max-width: 768px) {
    button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}


button:disabled,
button[disabled] {
    text-decoration: line-through;
    cursor: not-allowed;
    color: var(--color-gray);
}

button.btn-red {
    background-color: var(--color-red);
    color: white;
}

button.btn-red:hover {
    background-color: var(--color-red-hover);
}

button.btn-red:active {
    background-color: var(--color-red-active);
}

button.btn-google {
    background-color: white;
    color: var(--color-text);
}

.btn-google img {
    width: 30px;
    margin-right: 10px;
    padding: 0.75rem 2rem;
    color: var(--color-text);
}