@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-bg: white;
  --color-text: #08090a;
  --color-text-light: #4e4e4e;
  --color-blue: #3b49df;
  --color-blue-hover: #505CE2;
  --color-blue-active: #1F2DC1;
  --color-red: #df3b3b;
  --color-red-hover: #E25050;
  --color-red-active: #D32222;
  --color-green: #3bdf72;
  --color-green-hover: #50E281;
  --color-green-active: #22D35D;
  --color-gray: #b5bdc4;
  --color-gray-hover: #C6CCD2;
  --color-gray-active: #A4AEB6;

  --mq-small: 500;
  --mq-medium: 800;
  --mq-large: 1000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  max-width: 800px;
  margin: 5rem auto 0;
  padding: 1rem 5vw 5rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}

/* Utilities */

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

.username {
  font-weight: normal;
  font-style: italic;
  color: var(--color-text-light);
}


@import './navbar.css';
@import './loader.css';
@import './button.css';